@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: black
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	overflow-x: hidden
	font-family: Montserrat

.c-p
	cursor: pointer

.btn-default
	color: white
	font-size: 14px
	line-height: 18px
	font-weight: 600
	justify-content: center
	display: flex
	align-items: center
	padding: 18px 55px
	-webkit-border-radius: 30px
	-moz-border-radius: 30px
	border-radius: 30px
	text-transform: uppercase
	outline: none !important
	border: 0
	letter-spacing: 1.13px
	&--lg
		font-size: 18px
		letter-spacing: 1.65px
	&--red-main
		background-color: $red-main
	&--red-second
		background-color: $red-second
	&--pink
		background-color: $pink



::selection
	background-color: $accent
	color: #fff

.bg-top
	background-image: url("../img/headerbg.png")
	background-size: cover
	background-position: center top

header
	padding: 40px 0
	.img-commet
		position: absolute
		top: 0
		left: 0
	.last
		width: 350px
		position: relative
		font-size: 18px
		color: white
		text-align: right
		margin-top: 65px
		margin-bottom: 130px
	.phone
		color: white
		font-size: 19px
		&:hover
			color: white
			text-decoration: none
	.study-start
		font-size: 17px
	.img-title
		position: absolute
		top: 0
		left: 0
		width: 70%
		transform: translate(7%, -50%)
	h1
		position: relative
		z-index: 1
		color: white
		font-size: 28px
		font-stretch: normal
		font-style: normal
		text-transform: uppercase
		line-height: 1.33
		letter-spacing: normal
		text-align: left
		font-weight: 600
		span
			font-size: 60px


.section-title
	font-size: 50px
	font-weight: 600
	text-transform: uppercase
	&--sm
		font-size: 40px

.potok
	.section-title
		margin-top: 80px
	.img-student-amount
		position: absolute
		top: 0
		right: 0
		transform: translateX(20%)
		width: 900px

.tariffs
	background: lightblue
	.section-title
		text-align: center
		color: white
	.subtitle
		font-size: 29px
		color: white
		text-align: center
		margin: 32px 0 47px
	.tariff
		border-radius: 20px
		background-color: rgba(255,255,255,0.5)
		width: 400px
		max-width: 100%
		padding: 25px 31px 52px 21px
		position: relative
		.tariff-title
			font-size: 38px
			text-transform: uppercase
			text-align: center
			font-weight: 600
			&--blue
				color: #22d1cd
			&--white
				color: white
			&--purple
				color: #7228b8
		ul
			font-weight: 500
			font-size: 14px
			line-height: 24px
			margin-top: 0
			padding: 0
			li
				list-style: none
				position: relative
				padding: 0 0 0 20px
				font-family: Montserrat
		ul.round
			li
				&::before
					content: ""
					position: absolute
					left: 10px
					top: 10px
					width: 3px
					height: 3px
					background-color: green
					border-radius: 50%
					-moz-border-radius: 50%
					-webkit-border-radius: 50%
		ul.round-red
			li
				&::before
					background-color: red
		ul.round-purple
			li
				&::before
					background-color: purple
		.price
			.price-main
				color: #ff0042
				font-size: 19px
				line-height: 19px
				font-weight: 600
				margin: 0
			.price-sub
				font-size: 15px
				line-height: 15px

.air-bg
	background-image: linear-gradient(to top, #0b0b06, #000a1d, #5fb8ce, #2c88e7), linear-gradient(to bottom, #000000, #000000)
	background-size: cover

.needs
	.img-clouds
		margin-top: -500px
	.sticker-container
		width: 400px
		margin: auto
		display: block
		text-align: center
		img
			z-index: 1
			position: relative
		.btn-default
			padding: 22px 35px
			display: inline-block
			transform: translateY(-40%)

.students
	background-image: linear-gradient(to top, #fe8b50, #4371b4, #256aaf)
	padding-bottom: 200px
	.fly-balloon
		width: 60%
	.balloon-container
		display: flex
		justify-content: space-between
		position: absolute
		max-width: 35%
		&-1
			align-items: center
			position: relative
			width: 400px
			top: -120px
			img
				width: 200px
			p
				margin-top: 150px
			.triangle
				margin-top: 250px
		&-2
			align-items: start
			width: 400px
			top: -50px
			left: 400px
			img
				width: 150px
		&-3
			align-items: baseline
			width: 400px
			top: -50px
			left: 850px
			transform: translate(-30%,-70%)
			img
				width: 160px
				transform: translateY(30%)
		&-4
			align-items: center
			position: relative
			width: 400px
			top: -120px
			left: 200px
			img
				width: 150px
			.triangle
				margin-top: -110px
				margin-left: 0!important
		&-5
			align-items: start
			width: 400px
			bottom: -170px
			left: 500px
			img
				width: 160px
			p, .triangle
				margin-top: 130px
		&-6
			align-items: baseline
			width: 400px
			top: 150px
			right: 0
			transform: translate(-30%,-70%)
			img
				width: 200px
			p
				transform: translateY(-180px)
			.triangle
				transform: translateY(-165px)
				margin-left: 0!important
		p
			font-size: 12px
			font-weight: 500
			color: white
		.triangle
			width: 20px
			margin-right: 10px
			margin-left: -10px

.tariffs
	padding: 117px 0 84px
	.btn-default
			position: absolute
			bottom: -5%
			left: 22%
	.tariff
		li
			line-height: 1.67
			font-weight: 500
	.tariff-first
		.price
			margin-top: 90px
		.tariff-title
			margin-bottom: 15px
	.tariff-second
		padding-top: 77px
		background-color: #19cfcd
		.price
			margin-top: 30px
		.tariff-title
			margin-bottom: 10px
	.tariff-third
		.price
			margin-top: 36px
		.tariff-title
			margin-bottom: 12px
		.bonus
			.bonus-title
				color: #7228b8
				font-size: 19px
				line-height: 19px
				font-weight: 600
				margin: 0
			.bonus-text
				font-style: italic
				font-size: 15px
				line-height: 15px
				margin: 0
.results
	background: coral
	.swiper-results
		.swiper-results--title
			font-size: 48px
			font-weight: 800
			font-family: Bradley
			color: #02ffea
			line-height: 29px
			margin-bottom: 27px
		.swiper-results--text
			color: white
			font-size: 19px
			line-height: 22px
			font-weight: 500
	.white-triangle
		position: absolute
		left: -40px
		top: 10px
		width: 20px
		height: 20px
.speakers
	padding: 40px 0
	background-color: lightblue
	.swiper-speakers
		.swiper-speaker__img
			border: 3px solid #00ffff!important
		.swiper-speaker__name, .swiper-speaker__info
			color: white
			font-family: Aeroport
			text-align: center
		.swiper-speaker__name
			font-size: 25px
			line-height: 0.8
			font-weight: 800
			margin-top: 10px
		.swiper-speaker__info
			font-size: 18px
			line-height: 1
	.sbn-speakers, .sbp-speakers
		cursor: pointer
		outline: none
		transform: translateY(50px)
	.speakers-bottom
		text-align: center
		color: white
		font-weight: 800
		font-family: Bradley
		line-height: 1
		font-size: 35px
		text-transform: uppercase
		margin: 10px 0 50px
.founders
	background-color: lightpink
	padding: 40px 0
	.section-title
		color: $red-main
		text-align: center
		margin-bottom: 58px
	.founder
		.founder__name
			font-size: 40px
			color: white
			font-weight: 800
			line-height: 1
		.founder__socials
			font-size: 20px
			font-weight: 800
			color: $red-main
			line-height: 1.12
		.founder__text
			font-size: 19px
			font-weight: 500
			line-height: 1
	.founder__img
		width: 700px
		transform: translateX(-200px)
footer
	padding: 100px 0

@import "media" // Всегда в конце
